<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="/ui.css" />

<div class="container">
  <h1>Welcome to the API!</h1>
  <div class="form">
    <div class="login-form">
      <a href="/docs"><button style="margin-bottom: 15px">Docs</button></a>
      <a href="/login"><button>Login</button></a>
      <p>Visit us online at <a href="https://eauw.org">eauw.org</a>.</p>
    </div>
  </div>
</div>
