<%- include("head.ejs") %>

<title>Login</title>

<div class="container">
  <div class="form">
    <form class="login-form" method="post" action="/admin">
      <input type="text" name="username" placeholder="Username" />
      <input type="password" name="password" placeholder="Password" />
      <button>Login</button>
      <p class="message">Username: bull, Password: board</p>
      <% if (invalid) { %>
        <p class="message error">Invalid username or password.</p>
      <% } %>
    </form>
  </div>
</div>
